<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CoctailApp</title>
</head>
<body>

    <h1>Let's search something yummy to drink!</h1>
    <label for="coctail">type name of coctail here:</label>
    <input type="text" name="coctail" id="coctail">
    
</body>
</html>