body {
    /* Use a linear gradient for the background */
    background-image: linear-gradient(to top right, #ffb8b8, #b0b0ff); /* Gradient from red to blue */
    /* Set the background size to cover the entire viewport */
    background-size: cover;
    /* Specify the animation */
    animation: gradientAnimation 10s infinite alternate; /* 10 seconds duration, alternate direction, infinite loop */
}

/* Define the animation */
@keyframes gradientAnimation {
    0% { background-position: bottom left; } /* Start from bottom left */
    100% { background-position: top right; } /* End at top right */
}
.container-top{
    display: flex;
    justify-content: center;
    height: 10vh;
    align-items:end;
}
/* Ensure proper width and centering of card container */
.container-fluid {
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}

#custom-cards {
    max-width: 75%; /* Adjust the maximum width as needed */
    margin-top: 20px; /* Adjust the top margin as needed */
    margin-bottom: 20px; /* Adjust the bottom margin as needed */
}

/* Custom CSS to fix text color inside the collapsible widget */
.collapse .card-body {
    color: black; /* Change text color to black */
}

li {
    font-size: 30px;
}
.hover-link {
    color: white; /* Set text color to white */
    font-size: 1.5rem; /* Set font size to 2em */
    transition: color 0.3s ease; /* Add transition animation for color change */
    text-decoration: none;
}

.hover-link:hover {
    color: rgb(188, 188, 188); /* Change text color to light gray on hover */
}


/* CSS to increase the size of input field and buttons */
.container-top .form-control {
    /* Increase the height of the input field */
    height: 50px; /* Adjust the value as needed */
    /* Increase the font size of the input text */
    font-size: 20px; /* Adjust the value as needed */
}

.container-top .btn {
    /* Increase the height of the button */
    height: 50px; /* Adjust the value as needed */
    /* Increase the font size of the button text */
    font-size: 20px; /* Adjust the value as needed */
    /* Add some padding to the button */
    padding: 0 20px; /* Adjust the value as needed */
}

/* CSS to increase the size of input field and buttons */
.col-auto input.form-control {
    /* Increase the height of the input field */
    height: 50px; /* Adjust the value as needed */
    /* Increase the font size of the input text */
    font-size: 20px; /* Adjust the value as needed */
}