.container{
    display: flex;
    justify-content: center;
}

/* Custom CSS to fix text color inside the collapsible widget */
.collapse .card-body {
    color: black; /* Change text color to black */
}

li{
    font-size: 30px;
}

/* Custom CSS to control container width */
#custom-cards {
    max-width: 75%; /* Adjust the value as needed */
    margin: 0 auto; /* Center the container */
}
