.container-top{
    display: flex;
    justify-content: center;
    height: 10vh;
    align-items:end;
}
/* Ensure proper width and centering of card container */
.container-fluid {
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}

#custom-cards {
    max-width: 75%; /* Adjust the maximum width as needed */
    margin-top: 20px; /* Adjust the top margin as needed */
    margin-bottom: 20px; /* Adjust the bottom margin as needed */
}

/* Custom CSS to fix text color inside the collapsible widget */
.collapse .card-body {
    color: black; /* Change text color to black */
}

li {
    font-size: 30px;
}
.hover-link {
    color: white; /* Set text color to white */
    font-size: 2rem; /* Set font size to 2em */
    transition: color 0.3s ease; /* Add transition animation for color change */
}

.hover-link:hover {
    color: rgb(188, 188, 188); /* Change text color to light gray on hover */
}
